#button{
    cursor: pointer;
    height: 30px;
    width: 60px;
    display: flex;
    align-items: center;
    background: none;
    position: relative;
    border: none;
    padding: 18pxpx;
    color: var(--text-color);
    justify-content: center;

    &.button_nav{
        width: 0;

        #nav_activator{
            fill: var(--text-color);
            height: 25px;
            background: transparent;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);;
            transition: all 1s;
            display: none;
        }
    }

    .border{
        height: 0%;
        width:3%;
        background: var(--color-md);
        position: absolute;
        top: 50%;
        left: 0;
        transition: all .2s ease-in-out;
    }
}

#button:hover{
    div{
        top: 0;
        height: 100%;
    }
}

@media only screen and (max-width: 645px){
    #button{
        &.button_nav{
            width: 60px;
            
            #nav_activator{
                display: block;
            }
        }
    }
}