.home{
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    position: relative;

    .presentation{
        width: 38%;
        position: relative;
        top: 130px;
        height: 75%;
        border: 2px solid var(--color-l);

        .overlay{
            width: 100%;
            height: 100%;
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
        }
    
    }
}

@media only screen and (max-width: 768px) {
    .home{
        .presentation{
            width: 60%;
            position: absolute;
        }
    }
}

@media only screen and (max-width: 600px) {
    .home{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .presentation{
            width: 50%;
            height: 60%;
        }
    }
}

@media only screen and (max-width: 425px){
    .home{
        height: 80vh;
        .presentation{
            width: 60%;
        }
    }
}