.card{
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .card{
        flex-direction: column-reverse;
    }
}


@media only screen and (max-width: 425px){
    .card{
        padding: 0;
    }
}