.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 99%;
    width: 23%;
    margin-top: 50px;

    &:nth-child(1),
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4){
        margin-top: 0px;
    }

    h2{
        font-size: 22px;
    }

    a{
        font-size: 13px;
        color: inherit;
    }
}

@keyframes appear{
    0%{
        bottom: -200%;
    }

    100%{
        bottom: 0;
    }
}

@media only screen and (max-width: 768px){
    .container{
        h2{
            font-size: 18px;
        }
        width: 45%;
        
        height: 60%;
        margin-top: 70px;

        a{
            font-size: 10px;
        }
    }
}