.menu{
    width: 100vw;
    height: 100vh;
    background-color: var(--color-verydark);
    color: var(--text-color);
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    #title{
        font-size: 30px;
        overflow: hidden;

        span{
            position: relative;
            animation: appear 1s ease;
        }
    }
}

.images{
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 60%;
    overflow: scroll;
}

.images::-webkit-scrollbar {
    -webkit-appearance: none;
}

.images::-webkit-scrollbar:vertical {
    width:5px;
}

.images::-webkit-scrollbar-button:increment,.images::-webkit-scrollbar-button {
    display: none;
} 

.images::-webkit-scrollbar:horizontal {
    display: none;
}

.images::-webkit-scrollbar-thumb {
    background-color: var(--color-l);
    border-radius: 50px;
}

@keyframes appear{
    0%{
        bottom: -200%;
    }

    100%{
        bottom: 0;
    }
}

@media only screen and (max-width: 768px){
    .images{
        flex-wrap: wrap;
        height: 80%;
    }
}

@media only screen and (max-width: 600px){
    .menu{
        #title{
            font-size: 20px;
        }
    }
}