.copy{
    width: 50%;
    position: relative;

    &::after{
        content: '';
        height: 100%;
        width: 3px;
        border-radius: 20px;
        background-color: var(--color-l);
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    
    h2{
        font-size: 25px;
        margin-top: 0px;
    }

    p{
        font-size: 18px;
        margin-top: 20px;

        &.copyright{
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
}

@media only screen and (max-width: 768px){
    .copy{

        h2{
            font-size: 18px;
        }

        p{
            font-size: 15px;
        }
    }
}

@media only screen and (max-width: 540px){
    .copy{
        &::after{
            display: none;
        }
        
        h2{
            font-size: 16px;
            text-align: center;
        }
        
        p{
            text-align: center;
            font-size: 13px;

            &.copyright{
                position: relative;
            }
        }

        width: 100%;
    }
}