.footer{
    width: 100%;
    padding: 70px 13%;
    box-sizing: border-box;
    background-color: var(--color-verydark);
    color: var(--color-vl);
    
    .presentation{
        width: 100%;
        height: 100%;
        display: flex;
    }
}

@media only screen and (max-width: 540px){
    .footer{
        .presentation{
            flex-direction: column-reverse;
        }
    }
}