.container{
    width: 50%;
    height: 100px;
    padding: 25px;
    justify-content: center;
    position: relative;
    cursor: pointer;
    left: 50%;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: all 1s;

    &:hover{
        width: 100%;
        left: 0;
    }

    .icon{
        height: 100%;
    }
}