.container{
    width: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media only screen and (max-width: 768px){
    .container{
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
    }
}